[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
fakeredis = "*"
requests = "*"
black = "==19.10b0"
isort = "*"

[packages]
rq = "*"
redis = "*"
prometheus-client = "*"
