[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
fakeredis = "*"
requests = "*"
black = "*"
isort = "*"
pytest-black = "*"
flake8 = "*"
pytest-flake8 = "*"
pylint = "*"

[packages]
rq = "*"
redis = "*"
prometheus-client = "*"
